In [ ]:
import pandas as pd

# 3.1 Warm Up Exercises
# 1. Sorting and Subsetting:
df = pd.read_csv("titanic.csv") # loading csv
df.info()   # checking dataframe info using info.()

# Problem 1 - Sorting:
# task1
fare = df[["Fare"]]   # creating a separate dataframe containing data from only the fare column
print(fare.head())     # printing the head

# task2
class_age = df[["Pclass", "Age"]]  # using squared brackets two times when creating a database, single time means series
print(class_age.head())

# task3
survived_gender = df[["Survived", "Sex"]]
print(survived_gender.head())

# Problem 2 - Subsetting:
# Subsetting Rows:
# task1
fare_gt_100 = df[df["Fare"] > 100]  # new dataframe formed by filtering the original dataframe for Fare > 100
print(fare_gt_100.head())

# task2
first_class = df[df["Pclass"] == 1] # using comparison operator for filtering Pclass
print(first_class.head())

# task3
under_18 = df[df["Age"] < 18]   # creating new dataframe for those under 18
female_under_18 = under_18[under_18["Sex"] == "female"]  # from those under 18, filter out females
print(female_under_18.head())


# Subsetting Rows by Categorical variables:
# task1
embarked_c_or_s = df[(df["Embarked"] == "C") | (df["Embarked"] == "S")] # OR operator
print(embarked_c_or_s.head())

# task2
first_second_class = df[df["Pclass"].isin([1, 2])] # filtering out Pclass rows with passengers in class 1 and 2 only
print(first_second_class.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
      Fare
0   7.2500
1  71.2833
2   7.9250
3  53.1000
4   8.0500
   Pclass   Age
0       3  22.0
1       1  38.0
2       3  26.0
3       1  35.0
4       3  35.0
   Survived     Sex
0         0    male
1         1  female
2         1  female
3         1  female
4         0    male
     PassengerId  Survived  Pclass  \
27            28         0       1
31            32         1       1
88            89         1       1
118          119         0       1
195          196         1       1

                                               Name     Sex   Age  SibSp  \
27                   Fortune, Mr. Charles Alexander    male  19.0      3
31   Spencer, Mrs. William Augustus (Marie Eugenie)  female   NaN      1
88                       Fortune, Miss. Mabel Helen  female  23.0      3
118                        Baxter, Mr. Quigg Edmond    male  24.0      0
195                            Lurette, Miss. Elise  female  58.0      0

     Parch    Ticket      Fare        Cabin Embarked
27       2     19950  263.0000  C23 C25 C27        S
31       0  PC 17569  146.5208          B78        C
88       2     19950  263.0000  C23 C25 C27        S
118      1  PC 17558  247.5208      B58 B60        C
195      0  PC 17569  146.5208          B80        C
    PassengerId  Survived  Pclass  \
1             2         1       1
3             4         1       1
6             7         0       1
11           12         1       1
23           24         1       1

                                                 Name     Sex   Age  SibSp  \
1   Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3        Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
6                             McCarthy, Mr. Timothy J    male  54.0      0
11                           Bonnell, Miss. Elizabeth  female  58.0      0
23                       Sloper, Mr. William Thompson    male  28.0      0

    Parch    Ticket     Fare Cabin Embarked
1       0  PC 17599  71.2833   C85        C
3       0    113803  53.1000  C123        S
6       0     17463  51.8625   E46        S
11      0    113783  26.5500  C103        S
23      0    113788  35.5000    A6        S
    PassengerId  Survived  Pclass                                  Name  \
9            10         1       2   Nasser, Mrs. Nicholas (Adele Achem)
10           11         1       3       Sandstrom, Miss. Marguerite Rut
14           15         0       3  Vestrom, Miss. Hulda Amanda Adolfina
22           23         1       3           McGowan, Miss. Anna "Annie"
24           25         0       3         Palsson, Miss. Torborg Danira

       Sex   Age  SibSp  Parch   Ticket     Fare Cabin Embarked
9   female  14.0      1      0   237736  30.0708   NaN        C
10  female   4.0      1      1  PP 9549  16.7000    G6        S
14  female  14.0      0      0   350406   7.8542   NaN        S
22  female  15.0      0      0   330923   8.0292   NaN        Q
24  female   8.0      3      1   349909  21.0750   NaN        S
   PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3
3            4         1       1
4            5         0       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0
3       Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                           Allen, Mr. William Henry    male  35.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
3      0            113803  53.1000  C123        S
4      0            373450   8.0500   NaN        S
    PassengerId  Survived  Pclass  \
1             2         1       1
3             4         1       1
6             7         0       1
9            10         1       2
11           12         1       1

                                                 Name     Sex   Age  SibSp  \
1   Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
3        Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
6                             McCarthy, Mr. Timothy J    male  54.0      0
9                 Nasser, Mrs. Nicholas (Adele Achem)  female  14.0      1
11                           Bonnell, Miss. Elizabeth  female  58.0      0

    Parch    Ticket     Fare Cabin Embarked
1       0  PC 17599  71.2833   C85        C
3       0    113803  53.1000  C123        S
6       0     17463  51.8625   E46        S
9       0    237736  30.0708   NaN        C
11      0    113783  26.5500  C103        S

In [ ]:
import pandas as pd

# 3.2 Exploratory Data Analysis Practice Exercise - 1.
df = pd.read_csv("titanic.csv") # loading csv
df.info()   # checking dataframe info using info.()

df["Age"] = df["Age"].fillna(df["Age"].median()) # fillna() replaces all the empty cells with a given value. in this case, replaces with median value
df["fare_per_year"] = df["Fare"] / df["Age"]   # new column containing the fare divided by the age of the passenger

high_fare_age = df[df["fare_per_year"] > 5] # subsetting rows where fare_per_year is higher than 5
high_fare_age_srt = high_fare_age.sort_values(by="fare_per_year", ascending=False) # sorting by fare_per_year with ascending=False which means descending
result = high_fare_age_srt[["Name", "fare_per_year"]] # selecting only name and fare_per_year columns and saving them to result
print(result) # Allison, Master. Hudson Trevor had the highest fare relative to age, with a fare per year of approximately 164.73


df["fare_per_class"] = df["Fare"] / df["Pclass"]   # new column containing the fare divided by the class of the passenger

adult_males = df[(df["Sex"] == "male") & (df["Age"] >= 18)] # filtering out passengers that are male and above 18
adult_males_srt = adult_males.sort_values(by="fare_per_class", ascending=False) # sorting by fare_per_class with ascending=False which means descending
result = adult_males_srt[["Name", "Age", "fare_per_class"]] # selecting only name, age and fare_per_class columns and saving them to result
print(result) # Lesurer, Mr. Gustave J and Cardeza, Mr. Thomas Drake Martinez paid the highest fare relative to their class, with a fare per class of approximately 512.33

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
                                               Name  fare_per_year
305                  Allison, Master. Hudson Trevor     164.728261
297                    Allison, Miss. Helen Loraine      75.775000
386                 Goodwin, Master. Sidney Leonard      46.900000
164                    Panula, Master. Eino Viljami      39.687500
183                       Becker, Master. Richard F      39.000000
..                                              ...            ...
348          Coutts, Master. William Loch "William"       5.300000
31   Spencer, Mrs. William Augustus (Marie Eugenie)       5.232886
205                      Strom, Miss. Telma Matilda       5.231250
813              Andersson, Miss. Ebba Iris Alfrida       5.212500
480                  Goodwin, Master. Harold Victor       5.211111

[71 rows x 2 columns]
                                   Name   Age  fare_per_class
737              Lesurer, Mr. Gustave J  35.0        512.3292
679  Cardeza, Mr. Thomas Drake Martinez  36.0        512.3292
27       Fortune, Mr. Charles Alexander  19.0        263.0000
438                   Fortune, Mr. Mark  64.0        263.0000
118            Baxter, Mr. Quigg Edmond  24.0        247.5208
..                                  ...   ...             ...
179                 Leonard, Mr. Lionel  36.0          0.0000
732                Knight, Mr. Robert J  28.0          0.0000
822     Reuchlin, Jonkheer. John George  38.0          0.0000
806              Andrews, Mr. Thomas Jr  39.0          0.0000
815                    Fry, Mr. Richard  28.0          0.0000

[519 rows x 3 columns]

In [6]:
import pandas as pd

# 3.3 Exploratory Data Analysis with Group-by Method Practice Exercise:
df = pd.read_csv("titanic.csv") # loading csv
df.info()   # checking dataframe info using info.()

total_fare = df['Fare'].sum()    # total Fare paid across all passengers in the Titanic dataset
first_class = df[df["Pclass"] == 1]   # filtering out first class passengers
total_fare_first_class = first_class["Fare"].sum()     # summing total fare paid of those in first class
second_class = df[df["Pclass"] == 2]   # filtering out second class passengers
total_fare_second_class = second_class["Fare"].sum()  # summing total fare paid of those in second class
third_class = df[df["Pclass"] == 3]   # filtering out third class passengers
total_fare_third_class = third_class["Fare"].sum()  # summing total fare paid of those in third class
fare_totals_by_class = [
    total_fare_first_class,
    total_fare_second_class,
    total_fare_third_class
] # sum of fares sorted by pclass
fare_proportions = [
    total_fare_first_class / total_fare,
    total_fare_second_class / total_fare,
    total_fare_third_class / total_fare
] # revenue proportion by class
print(fare_proportions)
# first class passengers contributed about 63.3% of the total fare
# second class passengers contributed about 13.2% of the total fare
# third class passengers contributed about 23.4% of the total fare

df["Age"] = df["Age"].fillna(df["Age"].median()) # fillna() replaces all the empty cells with a given value. in this case, replaces with median value

df.loc[df["Age"] < 18, "age_group"] = "child" # .loc is a pandas method that is used to access or modify rows and cols through labels or bool conditions
df.loc[(df["Age"] >= 18) & (df["Age"] < 65), "age_group"] = "adult"
df.loc[df["Age"] >= 65, "age_group"] = "senior"
total_passengers = len(df) # calculating total no. of passengers
age_group_counts = df["age_group"].value_counts() # .value_counts() counts how many times does a unique value repeats
age_group_proportions = age_group_counts / total_passengers # the proportion of passengers in each age group
age_group_percent = age_group_proportions * 100
print(age_group_percent) # approximately 86.10% were adults, 12.69% of passengers were children and 1.23% were seniors

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB
[np.float64(0.6334928771899656), np.float64(0.1324962855496507), np.float64(0.23401083726038366)]
age_group
adult     86.083053
child     12.682379
senior     1.234568
Name: count, dtype: float64